<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 50vh;">
        <form action="/performLogin" style="text-align: center;" method='post'>
            <label>Type your text here---</label>
            <textarea name="user-text"></textarea><br><br>
            <input type="submit" value="perform named entity recognition">
        </form>
    </div>
</body>
</html>