<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 50vh;">
       <h1 style="text-align: center; margin-top:150px">what would you like to do?</h1>
        <ul>
            <li style="text-align: center;"><a href="/ner">Named Entity Recognition</a></li>
            <li style="text-align: center;"><a href="">Sentimentatal Analysis</a></li>
        </ul>
    </div>
</body>
</html>
